{% extends 'constructions/base.html' %}

{% block content %}
<div class='col-md-2'>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/app/">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="?filter=True">Uploaded by you</a>
  </li>
</ul>
</div>
<div class='col-md-10'>
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Corpus File Name</th>      
      </tr>
    </thead>
    <tbody>
      {% for corpus_file in corpus_files %}
        <tr>
          <td>{{ corpus_file.id }}</td>
          <td><a href='{{corpus_file.get_absolute_url}}'> {{ corpus_file.name }} </a></td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
    {% include 'constructions/paginator.html' %}
  {% endif %}
</div>  

{% endblock %}
