{% extends 'constructions/base.html' %}

{% block content %}
  <div class="row">
    
    <div class="col-md-2">
      <div class="panel panel-primary" >
      <div class="panel-heading" style='padding:5px 10px'> Construction Participants </div>
  
      <table class="table table-condensed" style="text-align:center">
        {% for cx in participants %}
          {% if participant.id == cx.id %}
          <tr><td><a href="{{cx.get_absolute_url}}"><b>{{cx.name}}</b></a></td></tr>
          {% else %} 
          <tr><td><a href="{{cx.get_absolute_url}}">{{cx.name}}</a></td></tr>
          {% endif %}
        {% endfor %}
      </table>
    
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-primary" >
      <div class="panel-heading" style='padding:5px 10px;'> Construction Participant Viewer</div>
      
      <div class="panel-body">
        <table class="table" class="text-align:center">
        <tr> 
          <td style='background-color:{{construction.color}};font-size:100%;padding:0.5%'>
            <span> {{participant.name }} : </span> 
          </td>
          <td colspan="5">
            {{participant.description}}
          </td>
        </tr>
        </table>
        <hr>
        <h4> Constructions <b>{{participant.name}}</b> Occurs in : </h4> <br>
        <table class="table">
        {% for construction in participant.constructioncategory_set.all %}
          <tr>
            <td style='background-color:{{construction.color}};font-size:100%;padding:0.5%'> <span > <a href='{{construction.get_absolute_url}}'> {{ construction.name }} </a></span> </td>
            <td> {{construction.description}} </td>
          </tr>
        {% endfor %}
        </table>

        <hr>
         <h4> Frequently Occurs With : </h4> <br>
         {% for c2 in participant.occurs_with %}
            
            <span style='background-color:{{c2.color}};font-size:100%;padding:1%'> <a href='{{c2.get_absolute_url}}'> {{ c2.name }} </a></span>
            
            
          
        {% endfor %}
        


      </div>
  
    </div>

  </div>
  </div>
    <div class="panel panel-primary">
      <div class="panel-heading" style='padding:5px 10px'> Sentences </div>
      <div class="panel_body">
        <table class="table-condensed table-bordered">
        {% for cinstance in cinstances %}

        <tr> <td><a href='{{cinstance.sentence.get_absolute_url}}'> {{cinstance.sentence.id}}</a></td> <td colspan="2"> 
         {% for index, word in cinstance.sentence.as_list %} 
          
          {% for part in cinstance.construction_set.all %}
            {% if index == part.span_start %}
              <span style='color:{{part.construction.color}}'>{<sub>{{part.construction.name}}</sub></span>                
            {% endif %}
          {% endfor %}
        

          {% if index == cinstance.span_start %}
            <span style='color:{{participant.color}}'>[<sub>{{participant.name}}</sub></span>                  
          {% endif %}

          
        <span>{{word}}</span>
        
  {% if index == cinstance.span_end %}
           <span style='color:{{participant.color}}'><sub>{{participant.name}}</sub>]</span>                      
          {% endif %}

        {% for part in cinstance.construction_set.all %}
            {% if index == part.span_end %}
              <span style='color:{{part.construction.color}}'><sub>{{part.construction.name}}</sub>}</span>                
            {% endif %}
          {% endfor %}
        

          
        
         {% endfor %}
         </td> </tr>
        {% endfor %}
        </table>
      </div>
        
    </div>

  
  {% if is_paginated %}
    {% include 'constructions/paginator.html' %}
  {% endif %}
  

{% endblock %}