{% extends 'constructions/base.html' %}

{% block content %}
  <div class="row">
    
    <div class="col-md-2">
      <div class="panel panel-primary" >
      <div class="panel-heading" style='padding:5px 10px'> Constructions </div>
  
      <table class="table table-condensed" style="text-align:center">
        {% for cx in constructions %}
          {% if construction.id == cx.id %}
          <tr><td><a href="{{cx.get_absolute_url}}"><b>{{cx.name}}</b></a></td></tr>
          {% else %}
          <tr><td><a href="{{cx.get_absolute_url}}">{{cx.name}}</a></td></tr>
          {% endif %}
        {% endfor %}
      </table>
    
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-primary" >
      <div class="panel-heading" style='padding:5px 10px;'> Construction Viewer</div>
      
      <div class="panel-body">
        <table class="table" class="text-align:center">
        <tr> 
          <td style='background-color:{{construction.color}};font-size:100%;padding:0.5%'>
            <span> {{construction.name }} : </span> 
          </td>
          <td colspan="5">
            {{construction.description}}
          </td>
        </tr>
        </table>
        <hr>
        <h4> Participants : </h4> <br>
        <table class="table">
        {% for participant in construction.participants.all %}
          <tr>
            <td style='background-color:{{participant.color}};font-size:100%;padding:0.5%'> <span > <a href='{{participant.get_absolute_url}}'> {{ participant.name }} </a></span> </td>
            <td> {{participant.description}} </td>
          </tr>
        {% endfor %}
        </table>
      </div>
  
    </div>

  </div>
  </div>
    <div class="panel panel-primary">
      <div class="panel-heading" style='padding:5px 10px'> Sentences </div>
      <div class="panel_body">
        <table class="table-condensed table-bordered">
        {% for cinstance in cinstances %}

        <tr> <td><a href='{{cinstance.sentence.get_absolute_url}}'> {{cinstance.sentence.id}}</a></td> <td colspan="2"> 
         {% for index, word in cinstance.sentence.as_list %} 
          {% if index == cinstance.span_start %}
            <span style='color:{{construction.color}}'>{<sub>{{construction.name}}</sub></span>                  
          {% endif %}

          {% for part in cinstance.participants.all %}
            {% if index == part.span_start %}
              <span style='color:{{part.type.color}}'>[<sub>{{part.type.name}}</sub></span>                
            {% endif %}
          {% endfor %}
        
        <span>{{word}}</span>
          
        {% for part in cinstance.participants.all %}
            {% if index == part.span_end %}
              <span style='color:{{part.type.color}}'><sub>{{part.type.name}}</sub>]</span>                  
            {% endif %}
          {% endfor %}

          
          {% if index == cinstance.span_end %}
           <span style='color:{{construction.color}}'><sub>{{construction.name}}</sub>}</span>                      
          {% endif %}
         {% endfor %}
         </td> </tr>
        {% endfor %}
        </table>
      </div>
        
    </div>

  
  {% if is_paginated %}
    {% include 'constructions/paginator.html' %}
  {% endif %}
  

{% endblock %}