{% extends 'constructions/base.html' %}

{% block content %}
  <ul class='pagination'>
  <li class='waves-effect'><a href='/app'> Go back </a></li>
  <li class='waves-effect'><a href='{{corpus_file.get_prev_url}}'>Previous File</a></li>
  <li class='waves-effect'><a href='{{corpus_file.get_next_url}}'>Next File</a></li>
  </ul>
  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Sentence</th>      
      </tr>
    </thead>
    <tbody>
      {% for sentence in sentences %}
        <tr>
          <td>{{ sentence.treebank_id }}</td>
          <td><a href='{{sentence.get_absolute_url}}'> {{ sentence.plain_form }} </a></td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if is_paginated %}
    {% include 'constructions/paginator.html' %}
  {% endif %}
  

{% endblock %}
