{% load mathfilters %}
    <ul class="pagination" style="">    
      <li class="waves-effect"><a href="?page=1">&laquo;</a></li>
      
      {% if page_obj.has_previous %}
        <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}">&larr;</a></li>
      {% else %}
        <li class="disabled"><span>&larr;</span></li>
      {% endif %}
      {% for i in paginator.page_range %}
        {% if i > page_obj.number|sub:10 and i < page_obj.number|add:10 %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&rarr;</span></li>
      {% endif %}
    </ul>
  
